body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}
button {
  color: #fff;
  background-color: #03045e;
  border: none;
  padding: 1rem 0.5rem;
  transition: 0.2s background-color ease-out;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
}

button:hover {
  cursor: pointer;
  background-color: #023e8a;
}